<div class="agileits_w3layouts_copyright text-center">
	<p>&copy; 2018 FoodOnBudget. All rights reserved | Design by Abdul Rehman</p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>