{{> head}}
<h1 class="title">Menu</h1>
<div class="container-fluid con">
    <div class="row">
        {{!-- <div class="col-md-1"></div> --}}
        <div class="col-md-5 col col-odd bg-dark">
            <h1 class="lead">Pizza</h1>
            {{!-- <div>
                <p>
                <div class="row">
                    <div class="col-8"><span>12 inch pan------------------</span></div>
                    <div class="col-4"><span>------Rs543</span></div>
                </div>    
                </p>
            </div> --}}
            <dl>
                <dt class="align-left"><span>12 inch hand tossed</span>
                </dt>
                <dd>Rs 545</dd>
            </dl>
            <dl>
                <dt><span>King burger</span></dt>
                <dd>Rs 1345</dd>
            </dl>
            <dl>
                <dt class="align-left"><span>12 inch hand tossed</span>
                </dt>
                <dd>Rs 545</dd>
            </dl>
            <dl>
                <dt><span>King burger</span></dt>
                <dd>Rs 1345</dd>
            </dl>
            <dl>
                <dt class="align-left"><span>12 inch hand tossed</span>
                </dt>
                <dd>Rs 545</dd>
            </dl>
            <dl>
                <dt><span>King burger</span></dt>
                <dd>Rs 1345</dd>
            </dl>
            <dl>
                <dt class="align-left"><span>12 inch hand tossed</span>
                </dt>
                <dd>Rs 545</dd>
            </dl>
            <dl>
                <dt><span>King burger</span></dt>
                <dd>Rs 1345</dd>
            </dl>
            <dl>
                <dt class="align-left"><span>12 inch hand tossed</span>
                </dt>
                <dd>Rs 545</dd>
            </dl>
            <dl>
                <dt><span>King burger</span></dt>
                <dd>Rs 1345</dd>
            </dl>
            <dl>
                <dt class="align-left"><span>12 inch hand tossed</span>
                </dt>
                <dd>Rs 545</dd>
            </dl>
            <dl>
                <dt><span>King burger</span></dt>
                <dd>Rs 1345</dd>
            </dl>
        </div>
        {{!-- <div class="col-md-1"></div> --}}
        <div class="col-md-5 col col-even bg-dark">
             <h1 class="lead">Pasta</h1>
            {{!-- <div>
                <p>
                <div class="row">
                    <div class="col-8"><span>12 inch pan------------------</span></div>
                    <div class="col-4"><span>------Rs543</span></div>
                </div>    
                </p>
            </div> --}}
            <dl>
                <dt class="align-left"><span>Fettucino alfredo</span>
                </dt>
                <dd>Rs 656</dd>
            </dl>
            <dl>
                <dt><span>Tomato Pasta</span></dt>
                <dd>Rs 45</dd>
            </dl>
        </div>
        {{!-- <div class="col-md-1"></div> --}}
    </div>
</div>

{{>footer}}